*{
	padding: 0;
	margin: 0;
}
body {
	width:100%;
	height:100%;
	min-height: 100vh;
}

.wrapper {
	position: relative;
	min-height: 100%;
  }
video{
	position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	height: 1080px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
	object-position: center;
}

header{
	position: relative;
	z-index: 1;
}


header .header-top{
	background-color: white;
	width: 100%;
	height: 93px;
	display: flex;
	justify-content: space-between;
	align-items: center; 
}


header .header-img{
	width: 100%;
	height: 600px;

}

.header-phone {
	display: flex;
}

.header-phone .phone-ico{
	margin-right: 15px;
}

.header-phone .phone-number{
	font-size: 3em;
}

.header-items{
	display: flex;	
}

.header-items .cart-ico{
	width: 63px;
	margin-right: 15px;
	border-right: 3px solid;	
}

.header-items .auth-ico{
	width: 60px;
}

.content-header{
	height: 986px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: white;
    text-align: center;
	position: relative;
	flex-direction: column;
}

.content-header .video-text {
	font-size: 3em;
	margin-bottom: 100px;
}
.content-header a{
	text-decoration: none;
}
.content-header .button {
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 242px;
	height: 64px;
	border-radius: 30px;
	border: 3px solid;
	color: white;
	margin-bottom: 30px;
}


.content-header .invite-ico img{
	margin-top: 2px;
	width: 40px;
	height: 40px;
}

.dws-menu *{
	margin: 0;
	padding: 0;
}

.dws-menu > ul{
	display: flex;
	justify-content:space-evenly;
	list-style: none;
	background-color:#9d3535;
	height: 50px;
	align-items: center;
	
}

.dws-menu > ul li a {
	display: block;

	padding: 2px 30px;
	font-size: 2em;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.3s ease;
}


.dws-menu li a:hover{
	margin-top: 20px;
	background-color: #ff4c4c;
	color: #ffffff;
	box-shadow: 1px 5px 10px -5px white;
	border-radius: 0;
	border: 2px solid black;
	transition: all 0.3s ease;
}


/*sub menu*/
.dws-menu li ul {
	position: absolute;
	min-width: 207px;
	list-style: none;
	display: none;
	border: 1px solid black;
	left: 0;
	width: 400px;
	min-height: 450px;
	background-color:#9d3535;
}


.dws-menu li>ul li{
	padding: 0;
	margin: 0;
}

.dws-menu li > ul li a{
	padding: 10px;
	font-size: 1.5em;
	border-radius: 0;
	border: 0;
	background-color: #9d3535;
	text-transform: none;
}

.dws-menu li .first-catalog li ul {
	position: absolute;
	width: 400px;
	left : 800px;
	top:0;
}

.dws-menu li .sec-catalog {
	left: 400px;
}

.dws-menu li .sec-catalog li ul {
	position: absolute;
	width: 400px;
	left: 400px;
	top:0;
}

.dws-menu li:hover > ul {
	display: block;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content-main {
	padding: 60px;
}

.content-main .main-text {
	margin-top: 120px;
	text-align: center;
	color: #e30303;
	font-size: 3.5em;
}

.content-main .main-subtext {
	margin-top: 2px;
	text-align: center;
	color: black;
	font-size: 2.5em;
	margin-bottom: 80px;
}

.content-main .items-cards {
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1450px;
	margin: auto;

}

.content-main .items-cards .card{
	
	width: 266px;
	border: 2px solid red;
	box-shadow: 4px 4px 5px rgba(250, 50, 50, .4);
}

.content-main .items-cards .card img{
	width: 266px;
	height: 266px;
	
}
.content-main .items-cards .card .card-info {
	width: 266px;
	border-bottom: 2px solid red;
}
.content-main .items-cards .card .card-info .card-name{
	 font-weight: bold;
	 margin: 10px;
}
.content-main .items-cards .card .card-info .card-desc{
	margin: 10px;
}
.content-main .items-cards .button-info{
	font-size: 1.5em;
	margin: 10px;
}

.content-main .items-cards .card .podrob{
	float: left;
	background-color: #d6d9dc;
	padding: 0 20px;
	margin-bottom: 10px;
}
.content-main .items-cards .card .price{
	float: right;
	background-color: red;
	padding: 0 10px;
	color: white;
}



.content-main .about-main {
	margin-top: 40px;
	padding: 20px;

}

.content-main .about{
	align-items: baseline;
	justify-content: space-between;
	
}

.content-main .about-main h1{
	margin: 0;
}


.content-main  .about  .about-text{
	margin-top: 20px;
	text-align: justify;
	font-size: 2em;
}

.content-main  .about  .about-text b{
	color: red;
}

.content-main  .about  .about-text .pay-kind{
	display: flex;
	margin-bottom: 30px;
}

.content-main  .about  .about-text .pay-kind img{
	border-radius: 50px;
}

.content-main  .about  .about-text .pay-kind .img-text{
	margin-left: 30px;
}



.footer{
	margin-top: 100px;
	width: 100%;
	height: 170px;
	background-color: #9d3535;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-block{
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
}

.footer-content{
	display: flex;
	align-items: center;
	width: 1450px;
	justify-content: space-between;
	height: 130px;
	font-size: 1.5em;
}

/*error page*/
.main-error{
	margin: auto;
	width: 1200px;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-error .error-text{
	text-align: center;
	font-size: 3em;
	margin-bottom: 50px;
}
.main-error img{
	display: flex;
	margin: auto;

}
.main-error .block{
	border-left: 2px solid red ;
	padding-left: 20px;
	margin-right: 20px;
}
.main-error .error-info{
	padding-left: 50px;
	margin-top: 50px;
	display: flex;
}

.main-error .error-info p{
	text-align: left;
}
/*конец error page*/


@media (max-width: 1470px) {
	.content-main .items-cards {
		width: 1300px;
	
	}

	.content-main .items-cards .card{
		width: 240px;
	}
	
	.content-main .items-cards .card img{
		width: 220px;
		height: 220px;
		
	}
	.content-main .items-cards .card .card-info {
		width: 220px;
	}

	.content-main .items-cards .card .podrob {
		padding: 0 10px;
	}
}


@media (max-width: 1340px) {
	.content-main .items-cards {
		width: 1200px;
	}

	.dws-menu > ul li a {
		font-size: 1.5em;
	}
	.content-main .items-cards .card{
		width: 200px;
	}
	.content-main .items-cards .card img{
		width: 200px;
		height: 200px;
		
	}
	.content-main .items-cards .card .card-info {
		width: 200px;
	}

	.content-main .items-cards .card .podrob {
		padding: 0 1px;
	}
	.content-main .items-cards .card .price {
		padding: 0 1px;
	}
}


@media (max-width: 1233px) {
	.content-main .items-cards {
		width: 900px;
		flex-wrap: wrap;
		
	}
	.dws-menu > ul li a {
		font-size: 1.2em;
	}
	.content-main .about .about-text {
		font-size: 1.5em;
	}
	.content-main .main-text {
		font-size: 2em;
	}
	.content-main .main-subtext {
		font-size: 1.5em;
	}

	.content-main .items-cards .card{
		margin-bottom: 30px;
		width: 200px;
	}
	
	.content-main .items-cards .card img{
		width: 200px;
		height: 200px;
		
	}
	.content-main .items-cards .card .card-info {
		width: 200px;
	}

	.footer{
		height: 150px;
	}
	.footer-content{
		font-size: 1em;
		height: 100px;
	}
	.footer-content img{
		width: 400px;
	}
}